<table>
  <thead>
    <tr>
      $for(idxs-top)$
      <th style="padding-right: 0.6em">$idx$</th>
      $endfor$
    </tr>
  </thead>
  <tbody>
    $for(rows-top)$
    <tr>
      $for(cols)$
      <td style="padding-right: 0.6em">$col$</td>
      $endfor$
    </tr>
    $endfor$
  </tbody>
  <thead>
    <tr>
      $for(idxs-bottom)$
      <th style="padding-right: 0.6em">$idx$</th>
      $endfor$
    </tr>
  </thead>
  <tbody>
    $for(rows-bottom)$
    <tr>
      $for(cols)$
      <td style="padding-right: 0.6em">$col$</td>
      $endfor$
    </tr>
    $endfor$
  </tbody>
</table>
<div style="padding-top: 55px"></div>
