body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-align: center;
  padding: 0.3em !important;
}

.flex {
  margin: 0;
  width: 100%;
}

@media print {
  body {
    color-adjust: exact !important;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  @page {
    size: A4;
    margin: 15mm;
    background-color: #fff;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
