@import (reference) "_variables";

/*	footer
----------------------------------------------------------------------*/

footer {
  width: 100%;
  max-width: @width;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: @fs-xs;
}
