html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

label svg {
  margin-right: 0.8rem;
  vertical-align: top;
}

button {
  display: inline-flex !important;
  align-items: center !important;
  gap: 0.4em !important;
}
